
/*
    声明公共样式的时候：
        标准：_base.scss
        引入: @import "base"

*/
$bg-color:white;
body{
    font-size: 14px;
    font-family: "微软雅黑";
    color: #666;
    background: $bg-color;
}


*{
    box-sizing: border-box;
}


img{ vertical-align: top; display: block; border: none; }

a,input{ outline: none; }

em,i{font-style: normal;}

b,strong,h1,h2,h3,h4,h5,h6{ font-weight: normal; }

.clear:after{ content :'';display: block; clear: both; }

table{ border-collapse: collapse; }

.border0{ border: none; }

.fl{ float: left; }

.fr{ float: right;}









